﻿@{
    ViewBag.Title = "Admin Paneli";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="content">
    <div id="content-header">
        <h1>Dashboard</h1>
    </div>

    <div id="breadcrumb">
        <a href="javascript:void(0);"><i class="icon-home"></i> Home</a>
        <a href="javascript:void(0);" class="current">Dashboard</a>
    </div>



    <div class="container-fluid">

        <div class="row-fluid">
            <div class="col-xs-12">
                <div class="alert alert-info">
                    <strong>Yönetim Paneline hoşgeldiniz.</strong> Sol menüyü kullanarak web sitesinde gerekli düzenlemeleri yapabilirsiniz.
                    <a href="#" data-dismiss="alert" class="close">×</a>
                </div>
            </div>
        </div>
    </div>
</div>


