ul.polls {}
ul.polls li {margin:5px 0;}
ul.polls li a {padding:10px;display:block;font-weight:bold;}
ul.polls li a:hover {background-color:#e1e1e1;}

.poll_vote {float:left;width:245px;padding:10px;}
.poll_result {float:right;width:392px;padding:10px;border-left:1px solid #ccc;}

.poll-message {padding:30px 0;text-align:center;}

ul.poll_options {}
ul.poll_options li {font-size:13px;margin:8px 0;margin-left:10px;}
ul.poll_options li label {cursor:pointer;}

ul.poll_options li .btn {padding:5px 9px;cursor:pointer;background:#800;border:0;border-radius:3px;color:#fff;font-size:11px;}

ul.poll_options2 {}
ul.poll_options2 li {margin:8px 0;font-weight:bold;color:#3b3b3b;height:40px;line-height:20px;overflow:hidden;}
ul.poll_options2 li .al {padding:0;}
ul.poll_options2 li .carrier {height:18px;line-height:18px;overflow:hidden;background-color:#fff;margin-right:10px;padding:1px;color:#800;}
ul.poll_options2 li .carrier .status {width:0;height:18px;line-height:18px;background:#fff url(poll.png) center repeat-x;text-align:left;text-indent:5px;}
ul.poll_options2 li .al {padding:0;}
ul.poll_options2 li .ar {padding:0;}
ul.poll_options2 li .count-vote {font-size:10px;width:30px;font-weight:normal;color:#ccc;overflow:hidden;}