﻿
@{
    ViewBag.Title = "Contact - egegen Internet Solutions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section-banner" style="background-image: url('../../Content/assets/images/_banner.png')">

    <div class="container">

        <div class="row">

            <div class="col-xs-12 col-sm-7 col-md-8">
                <h1 class="no-margin-top">BİZE ULAŞIN</h1>
                <p class="wide no-margin-bottom">Değer katmak, olanı daha değerli hale getirmek ve bunu herkese kabul ettirmek kolay bir iş değildir. Sonsuz çaba, istikrarlı çalışma ve tükenmeyen güç gerektirir, emek gerektirir, sabır gerektirir. </p>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-4"></div>

        </div>

    </div>

</div>

<div class="section-breadcrumbs">

    <div class="container">

        <div class="row">

            <div class="col-xs-12 col-sm-10">
                <ol class="breadcrumb clearfix">
                    <li><a href="null">Anasayfa</a></li>
                    <li class="active">Bize Ulaşın</li>
                </ol>
            </div>
            <div class="hidden-xs col-sm-2 text-right">
                <a href="null" class="link-back"><i class="icofont icofont-thin-left"></i> Geri</a>
            </div>

        </div>

    </div>

</div>

<div id="map-canvas" class="google-map margin-bottom-20"></div>

<div class="section section-contact">

    <div class="container">

        <div class="row">

            <div class="col-xs-12 col-sm-6">

                <h2 class="no-margin-top">SANCAKTEPE SATIŞ OFİSİ</h2>
                <div class="contact-info contact-info-2">
                    <div class="info">
                        <i class="icofont icofont-social-google-map"></i>Abdurrahmangazi Mahallesi Sevenler Cad. Mersin Sokak No:60 Sinpaş Kelebekia Sitesi  Girişi Yanı Sancaktepe, İSTANBUL
                    </div>
                    <div class="info">
                        <i class="icofont icofont-phone"></i><a href="tel:" class="link-phone-number">+90 0312 491 66 66</a>
                    </div>
                    <div class="info">
                        <i class="icofont icofont-envelope"></i><a href="mailto:" class="color-2">bilgi@simyatr.com</a>
                    </div>
                </div>

                <h2>İSTANBUL SARAYLARI SATIŞ OFİSİ</h2>
                <div class="contact-info contact-info-2">
                    <div class="info">
                        <i class="icofont icofont-social-google-map"></i>Abdurrahmangazi Mahallesi Sevenler Cad. Mersin Sokak No:60 Sinpaş Kelebekia Sitesi  Girişi Yanı Sancaktepe, İSTANBUL
                    </div>
                    <div class="info">
                        <i class="icofont icofont-phone"></i><a href="tel:" class="link-phone-number">+90 0312 491 66 66</a>
                    </div>
                    <div class="info">
                        <i class="icofont icofont-envelope"></i><a href="mailto:" class="color-2">bilgi@simyatr.com</a>
                    </div>
                </div>

                <h2>ANKARA SATIŞ OFİSİ</h2>
                <div class="contact-info contact-info-2">
                    <div class="info">
                        <i class="icofont icofont-social-google-map"></i>Abdurrahmangazi Mahallesi Sevenler Cad. Mersin Sokak No:60 Sinpaş Kelebekia Sitesi  Girişi Yanı Sancaktepe, İSTANBUL
                    </div>
                    <div class="info">
                        <i class="icofont icofont-phone"></i><a href="tel:" class="link-phone-number">+90 0312 491 66 66</a>
                    </div>
                    <div class="info">
                        <i class="icofont icofont-envelope"></i><a href="mailto:" class="color-2">bilgi@simyatr.com</a>
                    </div>
                </div>

                <h2>BURSA SATIŞ OFİSİ</h2>
                <div class="contact-info contact-info-2">
                    <div class="info">
                        <i class="icofont icofont-social-google-map"></i>Abdurrahmangazi Mahallesi Sevenler Cad. Mersin Sokak No:60 Sinpaş Kelebekia Sitesi  Girişi Yanı Sancaktepe, İSTANBUL
                    </div>
                    <div class="info">
                        <i class="icofont icofont-phone"></i><a href="tel:" class="link-phone-number">+90 0312 491 66 66</a>
                    </div>
                    <div class="info">
                        <i class="icofont icofont-envelope"></i><a href="mailto:" class="color-2">bilgi@simyatr.com</a>
                    </div>
                </div>

            </div>

            <div class="col-xs-12 col-sm-7 col-md-6">

                <h2 class="no-margin-top">BİZE YAZIN</h2>

                <form action="http://localhost:8080/simya/contact-4" method="post" accept-charset="utf-8" id="contactForm">

                    <input type="text" name="nameSurname" value="" class="form-control validate[required] margin-bottom-20" id="nameSurname" placeholder="Ad Soyad" />
                    <input type="text" name="email" value="" class="form-control validate[required, custom[email]] margin-bottom-20" id="email" placeholder="E-Posta Adresi" />
                    <input type="text" name="phone" value="" class="form-control validate[required, custom[phone]] margin-bottom-20" id="phone" placeholder="Telefon Numarası" />
                    <div class="select-wrapper margin-bottom-20">
                        <select name="" id="" class="form-control">
                            <option value="">Dilek ve Şikayetleriniz</option>
                        </select>
                    </div>
                    <textarea name="message" cols="30" rows="7" id="message" class="form-control validate[required] margin-bottom-20" placeholder="Mesaj"></textarea>
                    <div class="relative margin-bottom-20">
                        <input type="text" id="captcha" class="form-control validate[required]" value="" name="captcha" placeholder="Security Code">
                        <div class="captcha-wrapper">
                            <img src="http://localhost:8080/simya/home/securityCode?1500276527" class="captcha-img" data-no-retina height="44" />
                            <a href="null" class="captcha-refresh" title="Yenile"><i class="fa fa-refresh"></i></a>
                        </div>
                    </div>
                    <input type="hidden" name="token" value="EGEGEN-NTk2YzY2ZTFhMDdlYg==" />
                    <input type="hidden" name="posted" id="posted" value="contact" />
                    <input type="submit" name="btn_contact" id="btn_contact" class="btn btn-default btn-block margin-bottom-20" value="GÖNDER" />

                </form>

            </div>

        </div>

    </div>

</div>

<script type="text/javascript">
    $(function () {
        $("#contactForm").validationEngine('attach', {
            autoHidePrompt: true,
            autoHideDelay: 2000,
            promptPosition: 'topLeft'
        });
        $("#phone").inputmask({ "mask": "(999) 999-9999" });

        initializeMap({
            title: 'egegen',
            coordinate: '38.464617,27.215704',
            zoom: 16,
            mapWrapperId: 'map-canvas',
            marker: '../../Content/assets/images/iconMarker.png'
        });
    });
</script>
