/* generic class'lar */
.p {padding:5px 0;}
.bq {padding-left:20px;}
.fl {float:left;}
.fr {float:right;}
.ml10 {margin-left:10px;}
.mr10 {margin-right:10px;}
.pl10 {padding-left:10px;}
.pr10 {padding-right:10px;}
.al {text-align:left;}
.ar {text-align:right;}
.aj {text-align:justify;}
.b {font-weight:bold;}
.i {font-style:italic;}
.u {text-decoration:underline;}
.clear {clear:both;overflow:hidden;margin:0;padding:0;}

/* font boyutları */
.fs10 {font-size:10px;}
.fs11 {font-size:11px;}
.fs12 {font-size:12px;}
.fs14 {font-size:14px;}
.fs16 {font-size:16px;}
.fs18 {font-size:18px;}
.fs20 {font-size:20px;}

/* bootstrap default renkleri, linklerde de kullanmak için */
a.text-muted:hover {color:#CCCCCC;}
a.text-primary:hover {color:#357EBD;}
a.text-info:hover {color:#46B8DA;}
a.text-success:hover {color:#4CAE4C;}
a.text-warning:hover {color:#EEA236;}
a.text-danger:hover {color:#D43F3A;}

/* unicorn'a ait ekstra renkler */
.text-pink {color:#F09FF2;}
.text-purple {color:#9E61D8;}
.text-dark-red {color:#AF3535;}
.text-dark-blue {color:#274190;}
.text-dark-green {color:#36903B;}
.text-yellow {color:#FFF600;}
a.text-pink:hover {color:#EC89EF;}
a.text-purple:hover {color:#914DD3;}
a.text-dark-red:hover {color:#9B2F2F;}
a.text-dark-blue:hover {color:#22387C;}
a.text-dark-green:hover {color:#2F7D33;}
a.text-yellow:hover {color:#E6DD00;}

/* bootstrap alert'e ek */
.alert-error{color:#b94a48;background-color:#f2dede;border-color:#ebccd1}
.alert-error hr{border-top-color:#e4b9c0}
.alert-error .alert-link{color:#953b39}

#gallery {}
#gallery .thumb {float:left;width:135px;margin-right:10px;margin-bottom:10px;background-color:#fff;border:1px solid #CCC;padding:2px; position: relative;}
#gallery .thumb .img {width:100%;height:100px;margin:auto; text-align:center;}
#gallery .thumb .img img {}
#gallery .thumb .title {font-size:10px;height:40px;overflow:hidden;word-wrap: break-word;}
#gallery .thumb .bulkDelete {text-align: center;padding-bottom: 5px; background-color: #f4f4f4;}
#gallery .thumb .bulkDelete input[type=checkbox] { vertical-align: middle; margin: 0; padding: 0; }
#gallery .thumb .box-options-origin {padding: 0 5px; background-color: #f4f4f4; height: 25px; line-height: 25px; }
#gallery .thumb .box-options-origin input[type=checkbox] { vertical-align: middle; margin: 0; padding: 0; }

#gallery .thumb .lang { padding:5px 0;}
#gallery .thumb .lang input[type=checkbox].css-checkbox { position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0; }
#gallery .thumb .lang input[type=checkbox].css-checkbox + label.css-label:before {content:'\f096'; font-family: "FontAwesome"; width:10px; height:10px; left:0; margin-right:2px; position:relative;}
#gallery .thumb .lang input[type=checkbox].css-checkbox + label.css-label { padding:2px 4px; font-size:13px; display:inline-block; cursor:pointer; margin-bottom:5px; width:35px; box-shadow: 1px 1px 1px #ADADAD;}
#gallery .thumb .lang input[type=checkbox].css-checkbox:checked + label.css-label { background-color:rgba(92, 184, 92, 0.85) }
#gallery .thumb .lang input[type=checkbox].css-checkbox:checked + label.css-label:before {content:'\f046'; font-family: "FontAwesome"; width:10px; height:10px; left:0; margin-right:2px; position:relative;}
#gallery .thumb .lang label.css-label { background-color:rgba(217, 83, 79, 0.85); color:#fff; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

#gallery .thumb .options {}
#gallery .thumb i.icon-move {cursor:move;}
#gallery .thumb.deleted{ border-color: #FF0000; box-shadow: 0 0 5px #FF0000; }

.active-default, .active-header{border-color: #f7ca18 !important; position: relative; box-shadow: 0 0 5px #f7ca18;}
.active-default:before{ content: "\f005"; font-family: "FontAwesome"; color: #755c07;  position: absolute; top:5px; right: 10px; z-index: 1; }
.active-default:after{ content: ""; color: #fff;  width: 0px; height: 0px; border-right: 50px solid #f7ca18;  border-bottom: 50px solid transparent; position: absolute; top:0; right: 0; }

.active-default.deleted{border-color: #FF0000 !important; box-shadow: 0 0 5px #FF0000; }

.active-header:before{ content: "\f111"; font-family: "FontAwesome"; color: #755c07;  position: absolute; top:5px; right: 10px; z-index: 1; }
.active-header:after{ content: ""; color: #fff;  width: 0px; height: 0px; border-right: 50px solid #f7ca18;  border-bottom: 50px solid transparent; position: absolute; top:0; right: 0; }


.gallery_authorities h1 {border-bottom:1px solid #4b859a;}
.gallery_authorities .item {float:left;margin-right:5px;margin-top:5px;width:225px;padding:2px;background:#AAA;border-radius:6px;border:1px solid #AAA;}
.gallery_authorities .item_active {background:#c3ffd3;border:1px solid #84ac8f;}
.gallery_authorities .item label {display:block;}
.gallery_authorities .item input {float:left;display:block;margin-right:5px;}

#auth_module {}
#auth_content {display:none;}

#container #logo .box {background-color:#FFF;border-radius:5px;margin-left:15px;margin-right:20px;padding:10px;}
#user .inner {background-image:none;}

#auth_module h4, #auth_content h4 {font-weight:bold;color:#666666;font-size:14px;}
#auth_module .label, #auth_content .label {font-weight:bold;font-size:14px;}
.gallery_authorities .item div {float:left;margin-right:5px;}
.gallery_authorities .item label {margin-bottom:0;font-weight:normal;font-size:12px;}
#auth_content .list10 {padding-left:0;}
#auth_content .list10 li {list-style:none;margin-bottom:15px;}
#auth_content .list10 li ul {margin-top:15px;}
#auth_content .list10 li div {float:left;margin-right:5px;}
#auth_content .list10 li label {margin-bottom:0;font-weight:normal;font-size:12px;}

.table1 {margin-bottom:10px;}
.table1 th {padding:4px;}
.table1 td {padding:4px;}

/*** editör olan sayfalarda scroll'un yüklenmesi için gerekli. ***/
.admin-editor {min-height:413px;height:auto;}

/*** unicorn overrides ***/
#breadcrumb a {cursor:default;}

/* Helper alert classes */
.modal { z-index: 999; }
.modal-backdrop { z-index: 888; }
.modal-header{ border-top-left-radius: 4px; border-top-right-radius: 4px; background-image: none; box-shadow: none; }
.modal-header.danger{ background-color: #d9534f; color: #fff; }
.modal-header.warning{ background-color: #f0ad4e; color: #fff; }
.modal-header.info{ background-color: #5bc0de; color: #fff; }
.modal-header.success{ background-color: #5cb85c; color: #fff; }

/* Callout classes */
.bs-callout{ padding: 10px 20px; border-left: 3px solid #eee; }
.bs-callout h4{ margin-top: 0; margin-bottom: 5px }
.bs-callout-danger{ background-color: #fdf7f7; border-color: #d9534f; color: #d9534f; }
.bs-callout-danger h4{ color: #d9534f; }
.bs-callout-warning{ background-color: #fcf8f2; border-color: #f0ad4e; color: #f0ad4e; }
.bs-callout-warning h4{ color: #f0ad4e; }
.bs-callout-info{ background-color: #f4f8fa; border-color: #5bc0de; color: #5bc0de; }
.bs-callout-info h4{ color: #5bc0de; }
.bs-callout-success{ background-color: #f4f8fa; border-color: #5cb85c; color: #5cb85c; }
.bs-callout-success h4{ color: #5cb85c; }

/* inline edit */
td[data-edit]{ cursor: url("../images/admin/iconMouse.png"), auto; }

/* media dialog */
#open-dialog + #dialog{ display: none; }
.ui-dialog-content.ui-widget-content{ width: 100% !important; }

/* uploadfile */
.ajax-file-upload-statusbar { margin: 0; margin-bottom: 10px; }
.ajax-upload-dragdrop { margin-bottom: 10px; }


/* admin sidebar */
.sidebar{ position: absolute !important; top: 77px; }
.sidebar-fixed-top{ position: fixed !important; top: 0px; }
.sidebar-fixed-bottom{ position: fixed !important; top: auto; bottom: 12px; }

/*plugins*/
.formError{ z-index: 100; }

#btn_reload { display: none; }

/*helps*/

.tabs-help-wrapper{ position: relative; display:none; }
.help-close{ position:absolute; top:0; right:25px; color: #000;}
.help-tabs{ min-height: 180px; height:100%; }
.help-tabs a{ position: relative; display: block; width: 100%; padding: 5px 15px; }
.help-tabs a:hover, .help-tabs a.active{ }
.help-tabs a.active:after{ content: " "; position: absolute; top: 15%; right: -25px; width: 0px; height: 0px; border: 11px solid transparent; pointer-events: none; }

.help-tabs-custom{ }
.help-tabs-custom a{ color: #555555; font-weight:bold; }
.help-tabs-custom a:hover, .help-tabs-custom a.active{ background-color: #3a87ad; color: #fff; }
.help-tabs-custom a.active:after{ border-left-color: #3a87ad; }

.tab-content{ min-height: 180px; height:100%;  }
.tab-content .btn { font-size: 10px; padding: 5px 8px;}


/*  MEDIA QUERIES (ENABLE WHEN RESPONSIVE)
================================================================================================================================== */
/* Mobile */
@media (max-width: 767px) {
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
	#gallery .thumb {width:155px;}
	#gallery .thumb .lang input[type=checkbox].css-checkbox + label.css-label {width:34px;}

}

/* Desktop */
@media (min-width: 992px) {
}


/*  AJAX MESSAGES
================================================================================================================================== */
.loading{ position: fixed; top: 0px; left: 0px; z-index: 9999999; width: 100%; min-height: 100% !important; background-image: url('../images/bgLoadingOverlay.png'); }
.loading .loading-image{ position: fixed; top: 49%; top: 50%; left: 50%; z-index: 9999999; width: 70px; height: 69px; margin:  -35px 0 0 -35px; padding: 7px 0 0 7px; background-color: #fff; }