﻿<div id="header">
    <h1><img src="~/Content/assets/images/admin/egegen_beyaz.png"></h1>
    <a id="menu-trigger" href="#"><i class="icon-align-justify"></i></a>
</div>


<div id="user-nav">
    <ul class="btn-group">
        <li class="btn"><a title="Siteyi Aç" href="http://localhost:8080/simya/" target="_blank"><i class="icon-sitemap"></i> <span class="text">Siteyi Aç</span></a></li>
        <li class="btn hidden-xs"><a title="Kullanıcı" href="javascript:void(0);"><i class="icon-user"></i> <span class="text">Egegen Kullanıcısı</span></a></li>
        <li class="btn"><a title="Mailler" href="http://localhost:8080/simya/admin/email_list/index"><i class="icon-envelope"></i> <span class="text">Mailler</span> <span class="label label-danger">0</span></a></li>
        <li class="btn"><a title="Ayarlar" href="http://localhost:8080/simya/admin/options/edit"><i class="icon-cog"></i> <span class="text">Ayarlar</span></a></li>
        <li class="btn"><a title="Logout" href="http://localhost:8080/simya/admin/login/logout"><i class="icon-power-off"></i> <span class="text">Logout</span></a></li>
    </ul>
</div>

<div id="sidebar" class="sidebar">
    <ul>
        <li class="active">
            <a href="@Url.Action("Index","Admin")"><i class="icon-home"></i> <span>Dashboard</span></a>
        </li>
        <li class="submenu ">
            <a href="javascript:void(0);"><i class="icon-bullhorn"></i> <span>Haberler</span><i class="arrow icon-chevron-right"></i></a>
            <ul>
                <li><a href="@Url.Action("Add","AdminNews")">Haber Ekle</a></li>
                <li><a href="@Url.Action("Index","AdminNews")">Haber Listele</a></li>
            </ul>
        </li>
        @*<li class="submenu ">
            <a href="javascript:void(0);"><i class="icon-tags"></i> <span>Ürünler</span><i class="arrow icon-chevron-right"></i></a>
            <ul>
                <li><a href="http://localhost:8080/simya/admin/product/add">Ürün Ekle</a></li>
                <li><a href="http://localhost:8080/simya/admin/product/index">Ürün Listele</a></li>
                <li><a href="http://localhost:8080/simya/admin/product/category/add">Kategori Ekle</a></li>
                <li><a href="http://localhost:8080/simya/admin/product/category/index">Kategori Listele</a></li>
            </ul>
        </li>*@
        <li class="submenu ">
            <a href="javascript:void(0);"><i class="icon-sitemap"></i> <span>İçerik</span><i class="arrow icon-chevron-right"></i></a>
            <ul>
                <li><a href="http://localhost:8080/simya/admin/content/add">İçerik Ekle</a></li>
                <li><a href="http://localhost:8080/simya/admin/content/index">İçerik Listele</a></li>
            </ul>
        </li>
        @*<li class="submenu ">
            <a href="javascript:void(0);"><i class="icon-picture-o"></i> <span>Foto-Galeri</span><i class="arrow icon-chevron-right"></i></a>
            <ul>
                <li><a href="http://localhost:8080/simya/admin/photogallery/add">Galeri Ekle</a></li>
                <li><a href="http://localhost:8080/simya/admin/photogallery/index">Galeri Listele</a></li>
            </ul>
        </li>*@
        @*<li class="submenu ">
            <a href="javascript:void(0);"><i class="icon-building"></i> <span>İletişim Bilgileri</span><i class="arrow icon-chevron-right"></i></a>
            <ul>
                <li><a href="http://localhost:8080/simya/admin/office/add">İletişim Bilgisi Ekle</a></li>
                <li><a href="http://localhost:8080/simya/admin/office/index">İletişim Bilgisi Listele</a></li>
            </ul>
        </li>
        <li class="submenu ">
            <a href="javascript:void(0);"><i class="icon-crosshairs"></i> <span>Referanslar</span><i class="arrow icon-chevron-right"></i></a>
            <ul>
                <li><a href="http://localhost:8080/simya/admin/reference/add">Referans Ekle</a></li>
                <li><a href="http://localhost:8080/simya/admin/reference/index">Referans Listele</a></li>
                <li><a href="http://localhost:8080/simya/admin/reference/category/add">Referans Kategori Ekle</a></li>
                <li><a href="http://localhost:8080/simya/admin/reference/category/index">Referans Kategori Listele</a></li>
            </ul>
        </li>
        <li class="submenu ">
            <a href="javascript:void(0);"><i class="icon-external-link"></i> <span>Lightbox</span><i class="arrow icon-chevron-right"></i></a>
            <ul>
                <li><a href="http://localhost:8080/simya/admin/lightbox/add">Lightbox Ekle</a></li>
                <li><a href="http://localhost:8080/simya/admin/lightbox/index">Lightbox Listele</a></li>
            </ul>
        </li>
        <li class="submenu ">
            <a href="javascript:void(0);"><i class="icon-male"></i> <span>İş İlanları</span><i class="arrow icon-chevron-right"></i></a>
            <ul>
                <li><a href="http://localhost:8080/simya/admin/career_ad/add">İş İlanı Ekle</a></li>
                <li><a href="http://localhost:8080/simya/admin/career_ad/index">İş İlanı Listele</a></li>
            </ul>
        </li>
        <li class="submenu ">
            <a href="javascript:void(0);"><i class="icon-question-circle"></i> <span>S.S.S.</span><i class="arrow icon-chevron-right"></i></a>
            <ul>
                <li><a href="http://localhost:8080/simya/admin/faq/add">S.S.S Ekle</a></li>
                <li><a href="http://localhost:8080/simya/admin/faq/index">S.S.S Listele</a></li>
            </ul>
        </li>
        <li class="submenu ">
            <a href="javascript:void(0);"><i class="icon-flask"></i> <span>Anket</span><i class="arrow icon-chevron-right"></i></a>
            <ul>
                <li><a href="http://localhost:8080/simya/admin/poll/add">Anket Ekle</a></li>
                <li><a href="http://localhost:8080/simya/admin/poll/index">Anket Listele</a></li>
            </ul>
        </li>
        <li class="submenu ">
            <a href="javascript:void(0);"><i class="icon-user"></i> <span>Kullanıcılar</span><i class="arrow icon-chevron-right"></i></a>
            <ul>
                <li><a href="http://localhost:8080/simya/admin/user/add">Kullanıcı Ekle</a></li>
                <li><a href="http://localhost:8080/simya/admin/user/index">Kullanıcı Listele</a></li>
            </ul>
        </li>
        <li class="">
            <a href="http://localhost:8080/simya/admin/media/index"><i class="icon-globe"></i> <span>Medya Merkezi</span></a>
        </li>
        <li class="">
            <a href="http://localhost:8080/simya/admin/contact/index"><i class="icon-phone-square"></i> <span>İletişim Mesajları</span></a>
        </li>
        <li class="">
            <a href="http://localhost:8080/simya/admin/member/index"><i class="icon-users"></i> <span>Üyeler</span></a>
        </li>
        <li class="">
            <a href="http://localhost:8080/simya/admin/career/index"><i class="icon-male"></i> <span>İş Başvuruları</span></a>
        </li>
        <li class="">
            <a href="http://localhost:8080/simya/admin/stats/index"><i class="icon-bar-chart"></i> <span>İstatistikler</span></a>
        </li>*@
        <li class="">
            <a href="http://localhost:8080/simya/admin/translation/index"><i class="icon-globe"></i> <span>Çeviriler</span></a>
        </li>
        <li class="">
            <a href="http://localhost:8080/simya/admin/log/index"><i class="icon-file-text-o"></i> <span>Log</span></a>
        </li>
        <li class="">
            <a href="http://localhost:8080/simya/admin/seof_url/edit"><i class="icon-google-plus-square"></i> <span>Seo Friendly Url</span></a>
        </li>
    </ul>
</div>
<script>
    $(window).scroll(function () {

        var topPos = $(document).scrollTop(),
            sidebarHeight = $('#sidebar ul').outerHeight(),
            contentHeight = $('#content').outerHeight(),
            sidebarTopPos = 77,
            sidebarFixedClass = 'sidebar-fixed-top';

        if (sidebarHeight < contentHeight) {

            var mq = window.matchMedia("(min-width: 400px)");
            if (mq.matches) {
                $('#sidebar').css({
                    height: sidebarHeight
                })
            }

            if ($('#sidebar ul').outerHeight() > $(window).height()) {
                sidebarTopPos = sidebarTopPos + ($('#sidebar ul').outerHeight() - $(window).height())
                sidebarFixedClass = 'sidebar-fixed-bottom';
            }

            if (topPos >= sidebarTopPos)
                $('#sidebar').addClass(sidebarFixedClass);
            else
                $('#sidebar').removeClass(sidebarFixedClass);

        }

    });
</script>