﻿<!DOCTYPE html>
<html>
<head> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="content-language" content="tr">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2" />
    <meta name="description" content="egegen, bir hayalin ve hedefin sembolü olarak 2000 yılında ünvanına katkı yapan Ege'nin incisi İzmir'de faaliyete başladı. Tüm Türkiye'ye hizmet vermektedir." />
    <title>Admin Paneli</title> 

    <link rel="stylesheet" href="~/Content/assets/css/unicorn/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/assets/css/unicorn/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/assets/css/unicorn/jquery-ui.css" />
    <link rel="stylesheet" href="~/Content/assets/css/unicorn/fullcalendar.css" />
    <link rel="stylesheet" href="~/Content/assets/css/unicorn/jquery.jscrollpane.css" />
    <link rel="stylesheet" href="~/Content/assets/css/unicorn/unicorn.css" />
    <link rel="stylesheet" href="~/Content/assets/css/unicorn/unicorn.grey.css" class="skin-color" />

    <link rel="stylesheet" href="~/Content/assets/css/super.classes.css" class="skin-color" />

    <link rel="stylesheet" href="~/Content/assets/css/admin.css" class="skin-color" />

    <script src="~/Content/assets/js/unicorn/jquery.min.js"></script>
    <script src="~/Content/assets/js/unicorn/jquery-ui.custom.js"></script>
    <script src="~/Content/assets/js/unicorn/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/unicorn/jquery.jpanelmenu.min.js"></script>
    <script src="~/Content/assets/js/unicorn/jquery.nicescroll.min.js"></script>
    <script src="~/Content/assets/js/unicorn/unicorn.js"></script>

    <script src="~/Content/assets/js/jquery.inlineedit.js"></script>


    @RenderSection("cssLink", required: false)
    @RenderSection("cssStyle", required: false)
</head>
<body>
    @Html.Partial("_AdminMenuPartial")
    @RenderBody()
    @Html.Partial("_AdminFooterPartial")
    @RenderSection("jsLink", required: false)
    @RenderSection("jsScripts", required: false)
</body>
</html>
