﻿<div class="row">
    <div id="footer" class="col-xs-12">
        2002  - 2017 &copy; Egegen Internet Solutions. All rights reserved.
    </div>
</div>

<!-- ajax loading -->
<div id="loading" class="loading hidden">
    <div class="loading-image round shadow"><img src="assets/images/iconLoading.gif" alt="loading" width="56" height="56" data-no-retina /></div>
</div>

<script type="text/javascript" src="assets/js/jquery.admin.helps.js"></script>

<script>
    $(function() {
        // Loading overlay
        $.showLoading = function() {
            $("#loading").css('height', $(window).height());
            $('#loading').removeClass('hidden');
        }
        $.hideLoading = function() {
            $('#loading').addClass('hidden');
        }
        $(document).ajaxSend(function() {
            $.showLoading();
        });
        $(document).ajaxComplete(function() {
            $.hideLoading();
        });
    });
</script>
