﻿<div class="section-pre-header">

    <div class="container">

        <div class="top-wrapper">

            <a href="null" class="top-link"><i class="icofont icofont-credit-card"></i> Online Ödeme</a>

            <div class="social hidden-xxs">
                <div class="title">Bizi Takip Edin</div>
                <a href="null" class="bg-color-facebook"><i class="icofont icofont-social-facebook"></i></a>
                <a href="null" class="bg-color-twitter"><i class="icofont icofont-social-twitter"></i></a>
                <a href="null" class="bg-color-instagram"><i class="icofont icofont-social-instagram"></i></a>
            </div> 
        </div> 
    </div> 
</div>

<div class="section-header">

    <div class="container container-fluid-sm">

        <div class="row">

            <div class="col-xs-12 col-md-3">
                <a href="/" class="logo"><img src="~/Content/assets/images/logo.png" alt="egegen - logo" class="img-responsive" data-rjs="3" /></a>
            </div>

            <div class="col-xs-12 col-md-7 no-padding-xs no-padding-sm">
                <ul id="jetmenu" class="jetmenu">
                    <li class="hidden-md hidden-lg"><a href="@Url.Action("Index","Home")">ANA SAYFA</a></li>
                    <li>
                        <a href="javascript:;">KURUMSAL</a>
                        <ul class="dropdown">
                            <li><a href="@Url.Action("About","SubPages")">Hakkımızda</a></li>
                            <li><a href="javascript:;">Kalite Politikası</a></li>
                            <li><a href="javascript:;">İnsan Kaynakları</a></li>
                        </ul>
                    </li>
                    <li><a href="@Url.Action("Services","SubPages")">HİZMETLER</a></li>
                    <li><a href="@Url.Action("Portfoy","SubPages")">PORTFÖYÜMÜZ</a></li>
                    <li><a href="@Url.Action("Basin","SubPages")">BASIN ODASI</a></li>
                    <li class="hidden-md hidden-lg"><a href="@Url.Action("Index","Contact")">BİZE ULAŞIN</a></li>
                </ul>
            </div>

            <div class="hidden-xs hidden-sm col-md-2 margin-top-5">
                <a href="@Url.Action("Index","Contact")" class="button button-wapasha button-round-2 button-shadow">Bize Ulaşın</a>
            </div>

        </div>

    </div>

</div> 
<script>
	$(function() {
		$("#jetmenu").jetmenu({
			mobileResolution: 991,
			indicatorChar: '<i class="fa fa-angle-down"></i>'
		});
	});
</script>
