﻿
@{
    ViewBag.Title = "About - egegen Internet Solutions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section-banner" style="background-image:  url('../../Content/assets/images/_banner.png')">

    <div class="container">

        <div class="row">

            <div class="col-xs-12 col-sm-7 col-md-8">
                <h1 class="no-margin-top">HAKKIMIZDA</h1>
                <p class="wide no-margin-bottom">Değer katmak, olanı daha değerli hale getirmek ve bunu herkese kabul ettirmek kolay bir iş değildir. Sonsuz çaba, istikrarlı çalışma ve tükenmeyen güç gerektirir, emek gerektirir, sabır gerektirir. </p>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-4"></div>

        </div>

    </div>

</div>

<div class="section-breadcrumbs">

    <div class="container">

        <div class="row">

            <div class="col-xs-12 col-sm-10">
                <ol class="breadcrumb clearfix">
                    <li><a href="null">Anasayfa</a></li>
                    <li><a href="null">Kurumsal</a></li>
                    <li class="active">Hakkımızda</li>
                </ol>
            </div>
            <div class="hidden-xs col-sm-2 text-right">
                <a href="null" class="link-back"><i class="icofont icofont-thin-left"></i> Geri</a>
            </div>

        </div>

    </div>

</div>

<div class="section-content section-about">

    <div class="container">

        <h2 class="no-margin-top">NASIL ÇALIŞIYORUZ?</h2>

        <div class="row">

            <div class="col-xs-12 col-md-7 col-lg-8">
                <p>Değer katmak, olanı daha değerli hale getirmek ve bunu herkese kabul ettirmek kolay bir iş değildir. Sonsuz çaba, istikrarlı çalışma ve tükenmeyen güç gerektirir, emek gerektirir, sabır gerektirir. Biz Simya Rezidans ve Yönetim Sistemleri A.Ş. olarak yöneteceğimiz tüm işleri ve projeleri daha değerli hale getirmeyi kendimize görev edindik. Vereceğimiz tüm hizmetleri hayata geçirirken, bu felsefeden hareketle memnuniyet odaklı yaklaşımları benimseyerek, sizin gibi düşünüp, öyle hareket ederek doğruyu bulmayı hedefledik.</p>
                <p>Güncel hayatın ne kadar hızlı değiştiğinin ve geliştiğinin farkındayız. Sahadaki çabamızın yanında teknolojinin sunduğu imkânlardan yararlanarak hem fiziksel hem dijital dünyada ev sahiplerimiz ve müşterilerimiz ile iletişimimizi güçlü tutmaya çalışıyoruz. Bu bağlamda, online hizmetlerimize önem veriyor ve gerçek zamanlı takibini yapıyoruz.</p>
                <p>Hizmet verdiğimiz herkesi dinleyerek işimize ve görevlerimize yön veriyoruz. Hayatın her alanında karşılaşılabilecek durumlarla başa çıkmaya hazır ekibimiz ile birlikte, siz ve sevdiklerinize hak ettiğiniz değeri gösterebilmek için heyecanımızı hiç kaybetmeden yolumuza devam ediyoruz.</p>
            </div>
            <div class="col-xs-12 col-md-5 col-lg-4 hidden-xs hidden-sm">
                <div class="image-about image-about-1">
                    <img src="~/Content/assets/images/imageAbout1.png" alt="">
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="col-xs-12 col-md-5 col-lg-4">
                <div class="image-about image-about-2">
                    <img src="~/Content/assets/images/imageAbout2.png" alt="">
                </div>
            </div>
            <div class="col-xs-12 col-md-7 col-lg-8">
                <h3>VİZYON</h3>
                <ul class="list-unstyled list-custom list-custom-icon list-custom-icon-2">
                    <li>Çağdaş altyapısı ve dinamik insan kaynağı ile inovatif çözümler üreten,empatiyi önde tutan, sektöründe standartları belirleyen, sektöre ve sektöre yönelik istihdam kalitesine katkı sağlayarak yön veren referans kurum olmak.</li>
                    <li>2. El gayrimenkul satışında ve kiralamalarında güvenilir kimliği ile öne çıkan, lider bir kurum olmak.</li>
                </ul>
                <h3>MİSYON</h3>
                <ul class="list-unstyled list-custom list-custom-icon list-custom-icon-2">
                    <li>Yönettiğimiz ya da yöneteceğimiz tüm işleri ve projeleri katma değerimizle daha değerli hale getirmek, yüksek kalite standardı oluşturmak, bunu sürdürülebilir kılmak.</li>
                    <li>Oluşturulan kalite standardının sürdürülebilirliğini sağlayarak yaşanılası alanlar geliştirmek.</li>
                </ul>
            </div>

            <div class="col-xs-12 col-sm-6 margin-bottom-30">
                <div class="embed-responsive embed-responsive-16by9">
                    @*<iframe class="embed-responsive-item" src="#" frameborder="0" allowfullscreen></iframe>*@
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 margin-bottom-30">
                <div class="embed-responsive embed-responsive-16by9">
                    @*<iframe class="embed-responsive-item" src="#" frameborder="0" allowfullscreen></iframe>*@
                </div>
            </div>

        </div>

    </div>

</div>


