﻿
@{
    ViewBag.Title = "egegen Internet Solutions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section section-404">

    <div class="container">

        <div class="row">

            <div class="col-xs-12">

                <h2>404 : Sayfa bulunamadı</h2>
                <p>Aradığınız kaynak kaldırılmış, adı değiştirilmiş yada geçici olarak kullanım dışı olabilir.</p>
                <img src="~/Content/assets/images/404.jpg" class="img-responsive" alt="" />

            </div>

        </div>

    </div>

</div>


