﻿
@{
    ViewBag.Title = "PortFoy - egegen Internet Solutions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="section-banner" style="background-image: url('../../Content/assets/images/_banner.png')">

    <div class="container">

        <div class="row">

            <div class="col-xs-12 col-sm-7 col-md-8">
                <h1 class="no-margin-top">PORTFÖYÜMÜZ</h1>
                <p>“Site yaşamının ve toplu yaşam alanlarına olan talebin hızla arttığı, standartların sürekli yükseldiği günümüzde; Huzur ve mutluluğun, en kıymetlilerinizle, sevdiklerinizle paylaştığınız evlerinizde nedenli değerli olduğunu biliyoruz.”</p>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-4"></div>

        </div>

    </div>

</div>

<div class="section-breadcrumbs">

    <div class="container">

        <div class="row">

            <div class="col-xs-12 col-sm-8">
                <ol class="breadcrumb clearfix">
                    <li><a href="null">Anasayfa</a></li>
                    <li class="active">Portföyümüz</li>
                </ol>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Aranacak kelimeyi yazınız...">
                    <span class="input-group-btn">
                        <button class="btn" type="button"><i class="icofont icofont-search"></i></button>
                    </span>
                </div>
            </div>

        </div>

    </div>

</div>

<div class="section-content">

    <div class="container">

        <div class="row">

            <div class="col-xs-12 col-sm-4 col-lg-3 relative">

                <div class="filter-wrapper">

                    <a href="javascript:;" class="filter-toggle"><i class="icofont icofont-filter"></i> Filtre</a>

                    <div class="vertical-scroll">

                        <div class="title">Kategoriler</div>
                        <a href="null" class="link">Konut <i class="icofont icofont-rounded-right pull-right margin-top-5"></i></a>
                        <a href="null" class="link">İşyeri <i class="icofont icofont-rounded-right pull-right margin-top-5"></i></a>

                        <div class="seperator seperator-hidden"></div>

                        <div class="title">Özellikler</div>
                        <div class="title-2">Proje</div>
                        <div class="select-wrapper margin-bottom-20">
                            <select name="" id="" class="form-control">
                                <option value="">Seçiniz</option>
                            </select>
                        </div>

                        <div class="seperator"></div>

                        <div class="title-2">Adres</div>
                        <div class="select-wrapper">
                            <select name="" id="" class="form-control">
                                <option value="">İl</option>
                            </select>
                        </div>
                        <div class="select-wrapper">
                            <select name="" id="" class="form-control">
                                <option value="">İlçe</option>
                            </select>
                        </div>
                        <div class="select-wrapper">
                            <select name="" id="" class="form-control">
                                <option value="">Semt/Mahalle</option>
                            </select>
                        </div>

                        <div class="seperator"></div>

                        <div class="title-2">Fiyat</div>

                        <div class="check-custom check-custom-radio">
                            <label for="price-1"><input type="radio" id="price-1" name="price"> TL</label>
                        </div>
                        <div class="check-custom check-custom-radio">
                            <label for="price-2"><input type="radio" id="price-2" name="price"> USD</label>
                        </div>
                        <div class="check-custom check-custom-radio">
                            <label for="price-3"><input type="radio" id="price-3" name="price"> EUR</label>
                        </div>
                        <div class="check-custom check-custom-radio">
                            <label for="price-4"><input type="radio" id="price-4" name="price"> GBP</label>
                        </div>

                        <div class="row row-narrow margin-top-10">
                            <div class="col-xs-6"><input type="text" class="form-control" placeholder="min"></div>
                            <div class="col-xs-6"><input type="text" class="form-control" placeholder="max"></div>
                        </div>

                        <div class="seperator"></div>

                        <div class="title-2">Oda Sayısı</div>

                        <div id="expand-1" class="filter-expandable">
                            <div class="check-custom check-custom-checkbox">
                                <label for="room-1">
                                    <input type="checkbox" id="room-1" name="room-1"> 1 + 0
                                </label>
                            </div>
                            <div class="check-custom check-custom-checkbox">
                                <label for="room-2">
                                    <input type="checkbox" id="room-2" name="room-2"> 1 + 1
                                </label>
                            </div>
                            <div class="check-custom check-custom-checkbox">
                                <label for="room-3">
                                    <input type="checkbox" id="room-3" name="room-3"> 2 + 1
                                </label>
                            </div>
                            <div class="check-custom check-custom-checkbox">
                                <label for="room-4">
                                    <input type="checkbox" id="room-4" name="room-4"> 3 + 1
                                </label>
                            </div>
                            <div class="check-custom check-custom-checkbox">
                                <label for="room-5">
                                    <input type="checkbox" id="room-5" name="room-5"> 4 + 1
                                </label>
                            </div>
                            <div class="check-custom check-custom-checkbox">
                                <label for="room-6">
                                    <input type="checkbox" id="room-6" name="room-6"> 5 + 1
                                </label>
                            </div>
                        </div>
                        <div class="text-right">
                            <a href="javascript:;" class="expand-more" data-expand="#expand-1">... daha fazla</a>
                        </div>

                        <div class="seperator"></div>

                        <div class="title-2">Bina Yaşı</div>

                        <div id="expand-2" class="filter-expandable">
                            <div class="check-custom check-custom-checkbox">
                                <label for="age-1">
                                    <input type="checkbox" id="age-1" name="age-1">  0
                                </label>
                            </div>
                            <div class="check-custom check-custom-checkbox">
                                <label for="age-2">
                                    <input type="checkbox" id="age-2" name="age-2"> 1
                                </label>
                            </div>
                            <div class="check-custom check-custom-checkbox">
                                <label for="age-3">
                                    <input type="checkbox" id="age-3" name="age-3"> 2
                                </label>
                            </div>
                            <div class="check-custom check-custom-checkbox">
                                <label for="age-4">
                                    <input type="checkbox" id="age-4" name="age-4"> 3
                                </label>
                            </div>
                            <div class="check-custom check-custom-checkbox">
                                <label for="age-5">
                                    <input type="checkbox" id="age-5" name="age-5"> 4
                                </label>
                            </div>
                            <div class="check-custom check-custom-checkbox">
                                <label for="age-6">
                                    <input type="checkbox" id="age-6" name="age-6"> 5
                                </label>
                            </div>
                        </div>
                        <div class="text-right">
                            <a href="javascript:;" class="expand-more" data-expand="#expand-2">... daha fazla</a>
                        </div>

                        <div class="seperator"></div>

                        <div class="title-2">Bulunduğu Kat</div>

                        <div id="expand-3" class="filter-expandable">
                            <div class="check-custom check-custom-checkbox">
                                <label for="floor-2">
                                    <input type="checkbox" id="floor-2" name="floor-2"> 1
                                </label>
                            </div>
                            <div class="check-custom check-custom-checkbox">
                                <label for="floor-3">
                                    <input type="checkbox" id="floor-3" name="floor-3"> 2
                                </label>
                            </div>
                            <div class="check-custom check-custom-checkbox">
                                <label for="floor-4">
                                    <input type="checkbox" id="floor-4" name="floor-4"> 3
                                </label>
                            </div>
                            <div class="check-custom check-custom-checkbox">
                                <label for="floor-5">
                                    <input type="checkbox" id="floor-5" name="floor-5"> 4
                                </label>
                            </div>
                            <div class="check-custom check-custom-checkbox">
                                <label for="floor-6">
                                    <input type="checkbox" id="floor-6" name="floor-6"> 5
                                </label>
                            </div>
                        </div>
                        <div class="text-right">
                            <a href="javascript:;" class="expand-more" data-expand="#expand-3">... daha fazla</a>
                        </div>

                        <div class="seperator"></div>

                        <div class="title-2">Satış Ofisi</div>
                        <div class="select-wrapper">
                            <select name="" id="" class="form-control">
                                <option value="">Seçiniz</option>
                            </select>
                        </div>

                        <div class="seperator"></div>

                        <div class="title-2">Satış Temsilcisi</div>
                        <div class="select-wrapper">
                            <select name="" id="" class="form-control">
                                <option value="">Seçiniz</option>
                            </select>
                        </div>

                        <div class="seperator"></div>

                        <div class="title-2">Kelime ile Filtrele</div>
                        <input type="text" class="form-control" placeholder="Kelime yazınız">

                        <div class="seperator"></div>

                        <div class="title-2">İlan Kriterleri</div>
                        <div class="select-wrapper">
                            <select name="" id="" class="form-control">
                                <option value="">Takas Durumu</option>
                            </select>
                        </div>
                        <div class="select-wrapper">
                            <select name="" id="" class="form-control">
                                <option value="">Kullanım Durumu</option>
                            </select>
                        </div>
                        <div class="select-wrapper">
                            <select name="" id="" class="form-control">
                                <option value="">Daire Durumu</option>
                            </select>
                        </div>

                        <div class="seperator"></div>

                        <div class="title-2">Manzara</div>

                        <div id="expand-4" class="filter-expandable">
                            <div class="check-custom check-custom-checkbox">
                                <label for="view-2">
                                    <input type="checkbox" id="view-2" name="view-2"> Doğa
                                </label>
                            </div>
                            <div class="check-custom check-custom-checkbox">
                                <label for="view-3">
                                    <input type="checkbox" id="view-3" name="view-3"> Şehir
                                </label>
                            </div>
                            <div class="check-custom check-custom-checkbox">
                                <label for="view-4">
                                    <input type="checkbox" id="view-4" name="view-4"> Boğaz
                                </label>
                            </div>
                            <div class="check-custom check-custom-checkbox">
                                <label for="view-5">
                                    <input type="checkbox" id="view-5" name="view-5"> Deniz
                                </label>
                            </div>
                            <div class="check-custom check-custom-checkbox">
                                <label for="view-6">
                                    <input type="checkbox" id="view-6" name="view-6"> Dağ
                                </label>
                            </div>
                        </div>
                        <div class="text-right">
                            <a href="javascript:;" class="expand-more" data-expand="#expand-4">... daha fazla</a>
                        </div>

                        <div class="seperator"></div>

                        <div class="title-2">Altyapı</div>

                        <div id="expand-5" class="filter-expandable">
                            <div class="check-custom check-custom-checkbox">
                                <label for="base-2">
                                    <input type="checkbox" id="base-2" name="base-2"> ADSL
                                </label>
                            </div>
                            <div class="check-custom check-custom-checkbox">
                                <label for="base-3">
                                    <input type="checkbox" id="base-3" name="base-3"> Uydu
                                </label>
                            </div>
                            <div class="check-custom check-custom-checkbox">
                                <label for="base-4">
                                    <input type="checkbox" id="base-4" name="base-4"> WiFi
                                </label>
                            </div>
                            <div class="check-custom check-custom-checkbox">
                                <label for="base-5">
                                    <input type="checkbox" id="base-5" name="base-5"> Fiber Internet
                                </label>
                            </div>
                            <div class="check-custom check-custom-checkbox">
                                <label for="base-6">
                                    <input type="checkbox" id="base-6" name="base-6"> Kanalizasyon
                                </label>
                            </div>
                        </div>
                        <div class="text-right margin-bottom-15">
                            <a href="javascript:;" class="expand-more" data-expand="#expand-5">... daha fazla</a>
                        </div>

                        <button class="button button-wapasha-3 button-round-3 btn-block">FİLTRELE</button>

                    </div>

                </div>

                <div class="filter-overlay"></div>

            </div>

            <div class="col-xs-12 col-sm-8 col-lg-9">

                <div class="content">

                    <div class="row">
                        <div class="col-xs-12 col-sm-7 col-md-8 col-lg-9 margin-top-5 margin-bottom-10">
                            <span class="font-size-20 font-bold">117 İLAN</span>
                        </div>
                        <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3 margin-bottom-10">
                            <div class="select-wrapper slim">
                                <select name="" id="" class="form-control">
                                    <option value="">Sırala</option>
                                    <option value="">Fiyata göre azalan</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        @for (int i = 0; i < 18; i++)
                        {
                            <div class="col-xxs-12 col-xs-6 col-lg-4 margin-bottom-20">
                                <a href="null" class="product">
                                    <div class="box-image">
                                        <img src="~/Content/assets/images/_oda.png" alt="">
                                        <div class="num">No:7255</div>
                                    </div>
                                    <div class="title">SİNPAŞ KELEBEKIA PREMIUM da BALKONLU 1+1</div>
                                    <div class="row row-grid">
                                        <div class="col-xs-5">Fiyat<span class="pull-right">:</span></div>
                                        <div class="col-xs-7">1.150 TL</div>
                                        <div class="col-xs-5">m2<span class="pull-right">:</span></div>
                                        <div class="col-xs-7">73</div>
                                        <div class="col-xs-5">İlan Tarihi<span class="pull-right">:</span></div>
                                        <div class="col-xs-7">06.04.2017</div>
                                    </div>
                                    <div class="more hidden">Devamı <i class="icofont icofont-rounded-right pull-right margin-top-5"></i></div>
                                    <div class="button button-wapasha-2 button-more">Devamı <i class="icofont icofont-rounded-right pull-right"></i></div>
                                </a>
                            </div>
                        } 
                    </div>

                    <nav aria-label="Page navigation" class="text-center">
                        <ul class="pagination pagination-sm">
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a>..</a></li>
                            <li><a href="#">16</a></li>
                        </ul>
                    </nav>

                </div>

            </div>

        </div>

    </div>

</div>

<script>
    $(function () {
        $('.expand-more').on('click', function () {
            $($(this).data('expand')).toggleClass('expanded', 100)
        });

        $('.filter-toggle').on('click', function () {
            $('.filter-wrapper').toggleClass('expanded')
        });

        if ($(window).width() < 768) {
            $('.vertical-scroll').slimScroll({
                height: $('.filter-wrapper').height(),
                size: 4,
                alwaysVisible: true,
            });
        }
    });

    $(window).on('scroll', function () {

        console.log($(window).scrollTop())
        // Fixed filter button
        if ($(window).scrollTop() > 1555)
            $('.filter-wrapper').addClass('button-static');
        else
            $('.filter-wrapper').removeClass('button-static');

    });

</script>
