﻿
@{
    ViewBag.Title = "PortFoy - egegen Internet Solutions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section-banner" style="background-image: url('../../Content/assets/images/_banner.png')">

    <div class="container">

        <div class="row">

            <div class="col-xs-12 col-sm-7 col-md-8">
                <h1 class="no-margin-top">PORTFÖYÜMÜZ</h1>
                <p>“Site yaşamının ve toplu yaşam alanlarına olan talebin hızla arttığı, standartların sürekli yükseldiği günümüzde; Huzur ve mutluluğun, en kıymetlilerinizle, sevdiklerinizle paylaştığınız evlerinizde nedenli değerli olduğunu biliyoruz.”</p>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-4"></div>

        </div>

    </div>

</div>

<div class="section-breadcrumbs">

    <div class="container">

        <div class="row">

            <div class="col-xs-12 col-sm-10">
                <ol class="breadcrumb clearfix">
                    <li><a href="null">Anasayfa</a></li>
                    <li><a href="null">Portföyümüz</a></li>
                    <li><a href="null">Site Yönetimi</a></li>
                    <li class="active">Sinpaş Köyceğiz De Asma Bahçeler De 199 M² 3+1</li>
                </ol>
            </div>
            <div class="hidden-xs col-sm-2 text-right">
                <a href="null" class="link-back"><i class="icofont icofont-thin-left"></i> Geri</a>
            </div>


        </div>

    </div>

</div>

<div class="section-content">

    <div class="container">

        <h2 class="no-margin-top">Sinpaş Köyceğiz De Asma Bahçeler De 199 M² 3+1</h2>

        <div class="row row-grid">

            <div class="col-xs-12 col-sm-6 margin-bottom-30">
                <a href="~/Content/assets/images/_daire.png" class="box-image box-image-detail">
                    <img src="~/Content/assets/images/_daire.png" alt="">
                </a>
                <div class="row row-grid">
                    <div class="col-xxs-6 col-xs-3 col-sm-6 col-md-3">
                        <a href="javascript:;" class="box-image box-image-thumb active">
                            <img src="~/Content/assets/images/_daire.png" alt="">
                        </a>
                    </div>
                    <div class="col-xxs-6 col-xs-3 col-sm-6 col-md-3">
                        <a href="javascript:;" class="box-image box-image-thumb">
                            <img src="~/Content/assets/images/_hizmet.png" alt="">
                        </a>
                    </div>
                    <div class="col-xxs-6 col-xs-3 col-sm-6 col-md-3">
                        <a href="javascript:;" class="box-image box-image-thumb">
                            <img src="~/Content/assets/images/_oda.png" alt="">
                        </a>
                    </div>
                    <div class="col-xxs-6 col-xs-3 col-sm-6 col-md-3">
                        <a href="javascript:;" class="box-image box-image-thumb">
                            <img src="~/Content/assets/images/_daire.png" alt="">
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 margin-bottom-30">
                <div class="content">
                    <div class="row row-narrow">
                        <div class="col-xxs-6 col-xs-5 font-bold">İlan<span class="pull-right">:</span></div>
                        <div class="col-xxs-6 col-xs-7">7260</div>
                        <div class="clearfix margin-bottom-15"></div>

                        <div class="col-xxs-6 col-xs-5 font-bold">İlan Tarihi<span class="pull-right">:</span></div>
                        <div class="col-xxs-6 col-xs-7">06 Mayıs 2017</div>
                        <div class="clearfix margin-bottom-15"></div>

                        <div class="col-xxs-6 col-xs-5 font-bold">Daire Durumu<span class="pull-right">:</span></div>
                        <div class="col-xxs-6 col-xs-7">Yeni</div>
                        <div class="clearfix margin-bottom-15"></div>

                        <div class="col-xxs-6 col-xs-5 font-bold">Oda Sayısı<span class="pull-right">:</span></div>
                        <div class="col-xxs-6 col-xs-7">3+1</div>
                        <div class="clearfix margin-bottom-15"></div>

                        <div class="col-xxs-6 col-xs-5 font-bold">Bina Yaşı<span class="pull-right">:</span></div>
                        <div class="col-xxs-6 col-xs-7">0 Yıl</div>
                        <div class="clearfix margin-bottom-15"></div>

                        <div class="col-xxs-6 col-xs-5 font-bold">Bulunduğu Kat<span class="pull-right">:</span></div>
                        <div class="col-xxs-6 col-xs-7">2</div>
                        <div class="clearfix margin-bottom-15"></div>

                        <div class="col-xxs-6 col-xs-5 font-bold">m²<span class="pull-right">:</span></div>
                        <div class="col-xxs-6 col-xs-7">199</div>
                        <div class="clearfix margin-bottom-15"></div>

                        <div class="col-xxs-6 col-xs-5 font-bold">Fiyatı<span class="pull-right">:</span></div>
                        <div class="col-xxs-6 col-xs-7">3.500</div>
                    </div>
                    <div class="seperator"></div>
                    <div class="font-size-18 font-bold margin-bottom-15">SANCAKTEPE SATIŞ OFİSİ</div>
                    <div class="font-bold margin-bottom-15">Satış Temsilcisi</div>
                    <span class="inline-block margin-right-10 margin-bottom-10 no-wrap">
                        <i class="icofont icofont-ui-user"></i> Hazar Fırat
                    </span>
                    <a href="tel:" class="link-phone-number inline-block margin-right-10 margin-bottom-10 no-wrap">
                        <i class="icofont icofont-phone"></i> (549) 808-0180
                    </a>
                    <a href="mailto:" class="color-2 inline-block margin-bottom-10 no-wrap">
                        <i class="icofont icofont-envelope"></i> hazar.firat@simyatr.com
                    </a>
                </div>
            </div>

        </div>

        <div class="tabs-wrapper">

            <div class="tabs clearfix">
                <a href="javascript:;" data-tab="#tab-1">İlan Detayı</a>
                <a href="javascript:;" data-tab="#tab-2" class="active">Özellikler</a>
            </div>

            <div id="tab-1" class="tab-content hidden">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium aliquam animi consequuntur cum cumque deserunt, illum mollitia officia quia quis, recusandae repellat sequi ut vero? Atque consectetur dicta, distinctio dolore et iusto nihil odit omnis quibusdam rem sequi suscipit.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium aliquam animi consequuntur cum cumque deserunt, illum mollitia officia quia quis, recusandae repellat sequi ut vero? Atque consectetur dicta, distinctio dolore et iusto nihil odit omnis quibusdam rem sequi suscipit.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium aliquam animi consequuntur cum cumque deserunt, illum mollitia officia quia quis, recusandae repellat sequi ut vero? Atque consectetur dicta, distinctio dolore et iusto nihil odit omnis quibusdam rem sequi suscipit.</p>
            </div>

            <div id="tab-2" class="tab-content">
                <h3>Manzara</h3>
                <ul class="list-unstyled list-custom list-custom-inline list-custom-icon list-custom-icon-2 clearfix">
                    <li>Doğa</li>
                    <li>Şehir</li>
                    <li>Boğaz</li>
                    <li>Deniz</li>
                    <li>Göl</li>
                </ul>

                <h3>Alt Yapı</h3>
                <ul class="list-unstyled list-custom list-custom-inline list-custom-icon list-custom-icon-2 clearfix">
                    <li>ADSL</li>
                    <li>Uydu</li>
                    <li>WiFi</li>
                    <li>Fiber İnternet</li>
                    <li>Kablo Tv</li>
                    <li>Telefon Hattı</li>
                    <li>İntercom</li>
                </ul>
            </div>

        </div>

    </div>

</div>

<script>
	$(function () {
		$('.box-image-thumb').on('click', function () {
			var src = $(this).children('img').attr('src');
			$('.box-image-detail').attr('href', src)
			$('.box-image-detail').children('img').attr('src', src)
		});

		$('.tabs a').on('click', function () {
			$('.tabs a.active').removeClass('active');
			$(this).addClass('active');

			$('.tab-content').addClass('hidden');
			$( $(this).data('tab') ).removeClass('hidden');
		});

		$('.box-image-detail').fancybox();
	});

</script>

