﻿
@{
    ViewBag.Title = "Forgot Password - egegen Internet Solutions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="section">

    <div class="container">

        <div class="row">

            <div class="col-xs-12">

                <h2>FORGOT PASSWORD</h2>

                <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">


                    <form action="http://localhost:8080/simya/forgot-password" method="post" id="forgot-password-form">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="row margin-bottom-15 margin-top-30">
                                    <div class="col-xs-12 text-center">
                                        Kayıt olurken girdiğiniz e-mail adresinizi giriniz.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="email" id="email" class="form-control margin-bottom-10 validate[required, custom[email]]" placeholder="E-Mail">
                                    <div class="relative">
                                        <input type="text" id="captcha" class="form-control margin-bottom-10 validate[required]" name="captcha" placeholder="Security Code">
                                        <div class="captcha-wrapper">
                                            <img src="http://localhost:8080/simya/home/securityCode?1500273152" class="captcha-img" data-no-retina height="32" />
                                            <a href="null" class="captcha-refresh" title="Yenile"><i class="fa fa-refresh"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <input type="hidden" name="process" value="forgotPassword">
                                        <input type="hidden" name="token" value="EGEGEN-NTk2YzU5ZmQ1NTRhYQ==">
                                        <input type="submit" name="btn_ok" class="btn btn-default btn-block" value="TALEP OLUŞTUR">
                                    </div>
                                    <div class="col-xs-6 text-right">
                                        <a href="javascript:history.back();">&laquo; Geri Dön</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <script type="text/javascript">
							$(function(){
								$("#forgot-password-form").validationEngine('attach', {
									autoHidePrompt: true,
									autoHideDelay: 2000,
									promptPosition: 'topLeft'
								});
							});
                    </script>


                </div>

            </div>

        </div>

    </div>

</div>