﻿
@{
    ViewBag.Title = "Member Sign Up - egegen Internet Solutions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="section">

    <div class="container">

        <div class="row">

            <div class="col-xs-12">

                <h2>Member Sign Up</h2>

                <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">

                    <form action="http://localhost:8080/simya/member-sign-up" method="post" accept-charset="utf-8" id="signup-form">
                        <input type="text" name="nameSurname" class="form-control validate[required] margin-bottom-10" id="nameSurname" placeholder="Ad Soyad" />
                        <input type="text" name="email" class="form-control validate[required,custom[email]] margin-bottom-10" id="email" placeholder="E-Posta Adresi" />
                        <input type="password" name="password" class="form-control validate[required] margin-bottom-10" id="password" placeholder="Şifre" />
                        <input type="password" name="password2" class="form-control validate[required,equals[password]] margin-bottom-10" id="password2" placeholder="Şifre (tekrar)" />

                        <div class="relative margin-bottom-10">
                            <input type="text" id="captcha" class="form-control validate[required]" name="captcha" placeholder="Security Code">
                            <div class="captcha-wrapper">
                                <img src="http://localhost:8080/simya/home/securityCode?1500272874" class="captcha-img" data-no-retina height="32" />
                                <a href="null" class="captcha-refresh" title="Yenile"><i class="fa fa-refresh"></i></a>
                            </div>
                        </div>
                        <input type="hidden" name="token" value="EGEGEN-NTk2YzU4ZTczZTAxNA==" />
                        <input type="hidden" name="process" id="process" value="signup" />
                        <input type="submit" name="btn_signup" id="btn_signup" class="btn btn-default btn-block btn-custom margin-bottom-20" value="ÜYE OL" />
                    </form>

                    <div class="font-size-14 text-center">
                        Zaten üye misin? O halde <a href="http://localhost:8080/simya/member-sign-in" class="text-underline">Giriş Yap</a>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
<script>
	$(function () {
		$("#signup-form").validationEngine('attach', {
			autoHidePrompt: true,
			autoHideDelay: 2000,
			promptPosition: 'topLeft'
		});
	})
</script>




