﻿
@{
    ViewBag.Title = "Member Sign In - egegen Internet Solutions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="section">

    <div class="container">

        <div class="row">

            <div class="col-xs-12">

                <h2>Member Sign In</h2>

                <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">

                    <form action="http://localhost:8080/simya/member-sign-in" method="post" accept-charset="utf-8" id="signin-form">
                        <input type="text" name="email" class="form-control validate[required,custom[email]] margin-bottom-10" id="email" placeholder="E-Posta Adresi" />
                        <input type="password" name="password" class="form-control validate[required] margin-bottom-10" id="password" placeholder="Şifre" />
                        <div class="row margin-bottom-15">
                            <div class="col-xs-6">
                                <div class="checkbox-input font-size-14">
                                    <input type="checkbox" id="rememberMe" name="rememberMe">
                                    <label for="rememberMe" class="font-normal">Beni Hatırla</label>
                                </div>
                            </div>
                            <div class="col-xs-6 text-right">
                                <a href="http://localhost:8080/simya/forgot-password" class="text-underline font-size-14">Şifremi Unuttum</a>
                            </div>
                        </div>
                        <input type="hidden" name="process" id="process" value="signin" />
                        <input type="submit" name="btn_signin" id="btn_signin" class="btn btn-default btn-block btn-custom margin-bottom-20" value="GİRİŞ YAP" />
                    </form>

                    <div class="font-size-14 text-center">
                        Üye değil misin? O halde <a href="http://localhost:8080/simya/member-sign-up" class="text-underline">Üye Ol</a>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
<script>
	$(function () {
		$("#signin-form").validationEngine('attach', {
			autoHidePrompt: true,
			autoHideDelay: 2000,
			promptPosition: 'topLeft'
		});
	})
</script>

